/*
	<!--------------------------DERPYMAIL-----------------------------!>
	Derpymail Style © to Tuqiri(Nathan Morgan) and Dragoshi(Simon Holian)
	Please don't copy or distribute
	Version 2.0
	
	This CSS file holds the style information for global styles that includes the header and footer
	
	CLASSES:
		center
		rounded_corner
		selected
		counts
	IDS:
		mainwrapper
		contentwrapper
		derpymail
		footerwrapper
	TAGS:
		*
		html
		body
		h2
		nav
		footer
	<!--------------------------DERPYMAIL-----------------------------!>
*/

@font-face {
	font-family: 'derpyfont';
	src: url('../fonts/derpyfont.eot');
	src: url('../fonts/derpyfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/derpyfont.woff') format('woff'),
	     url('../fonts/derpyfont.ttf') format('truetype'),
	     url('../fonts/derpyfont.svg#webfont') format('svg');
}

* {
	font-family: Verdana;
}

html {
	background-color: #e2e0f8;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

body a{
	text-decoration: none;
	color: red;
}

body a:hover{
	text-decoration: none;
	color: #eda930;
}

a, img {
    border:none;
}

h2 {
	font-family: derpyfont;
	font-size: 30px;
	color: #d8dcec;
	text-shadow: #5b5e6b 2px 2px 2px;
	margin-top: 0px;
}

#mainwrapper{
	width: 850px;
	margin: auto;
}

#pagewrapper{
	background-color: #fbffac;
	padding: 10px;
}

#contentwrapper{
	background-color: rgba(240, 240, 240, 0.5);
	text-align: left;
	padding: 30px;
}

#derpymail{
	position: relative;
	height: 150px;
	float: left;
	left: -60px;
	top: -60px;
	margin-right: -60px;
	margin-bottom: -60px;
}

.center{
	text-align:center;
}

.rounded_corner{
	-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.rounded_image{
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	border-radius: 10px;
	overflow: hidden;
	border: solid 2px #eda930;
	width: 400px;
	height: 400px;
	margin: auto;
}

.fix_floats{
	clear: both;
}

/* HEADER */

nav{
	text-align: center;
	padding-left: 40px;
	margin: auto;
	width: 570px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

nav a{
	text-align: center;
	font-size:25px;
	text-decoration: none;
	color: #f0f3b5;
	font-family: derpyfont;
}

nav img{
	display: block;
	width: 80px;
}

nav a:hover{
	color: #eda930;
}

nav tr{
	text-align: center;
}

nav tr td{
	padding-right: 60px;
}

.selected{
	color: #eda930;
}

/* FOOTER */

footer{
	font-size: 12px;
	float: center;
	text-align: center;
}

#footerwrapper{
	width: 400px;
	margin: auto;
}

footer a{
	text-decoration: none;
	color: #eda930; 
	font-size: 12px;
}

.counts{
	font-family: derpyfont;
	font-size: 22px;
	margin-top: -3px;
}